@font-face {
    font-family: "Priori Sans Regular";
    src: url("../fonts/PrioriSansRegular.ttf");
}

@font-face {
    font-family: "Priori Sans Bold";
    src: url("../fonts/PrioriSansBold.ttf");
}
