/* @import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap'); */

* {
  font-family: 'Fira Sans', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(6vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.8s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}