@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

html {
  overflow-x: hidden;
  height: 100%
}

* {
  font-family: 'Fira Sans', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(6vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.8s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.button {
  transition: 0.25s;
}

.button:hover,
.button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em rgba(34, 34, 34, 0.7);
  transform: translateY(-0.25em);
}