.memberImage{
    width: 580px;
  height: 400px;
  
}
.entreImage{
    width: 435px;
    height: 300px;
}
@media (max-width: 1300px) {
    .memberImage{
        width: 350px;
        height: 250px;
        margin-top: 24px;
    }
    .entreImage{
        width: 300px;
        height: 200px;
        margin-left: 48px;
    }
}
@media (max-width: 550px) {
    .entreImage{
        margin-left: 0;
    }
}